img
{
    
    width: 200px;
    height: 200px;
}

#red

{
    font-weight: normal
}
#blue

{
    font-weight: normal
}
#orange

{
    font-weight: normal
}
#green

{
    font-weight: normal
}
#yellow

{
    font-weight: normal
}