h1 
{
    text-align: center;
    padding: 5%;
    background-color: blueviolet;
    color: white;
}
h5
{
    text-align: center;
    padding: 5%;
    background-color: blueviolet;
    color: white;
    font-size: large;
}

#container {
    display: flex;
}


div
{
    flex: 1;
   
    background-color: aquamarine;

   
    
}
#dog
{
    background-color: rgb(215, 119, 189);
}